<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../partials/stylesheet %>
</head>
<body class="all_books_book_page">
    <% include ../partials/header %>
    <div class="container appName">
        <div class="row">
            <div class="col-lg-6">
                <h4 class="book_show">All books</h4>                       
            </div>            
        </div>
       
 <hr>
        <div class="row ">
        
            <% books.forEach(function(books){ %>
                <div class="col-lg-2 col-sm-4 col-xs-6 books_gallery">
                <a class="green_button button_margin" href ="/letter?id=<%=books.user.id%>&bookId=<%=books.id%>" aria-hidden="true">Buy!</a>               
                <figure class="figure">
                    <img class= "search_preview" src=<%= books.thumbnail %>  
                </figure>                          
                   
                </div>
            <% }); %>
            </div>
        
       
 </div>

        <% include ../partials/footer %>
        <% include ../partials/javascript %>
        


    </body>
    </html>


