<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../partials/stylesheet %>
</head>
<body class="main_page">
    <% include ../partials/header %>

    <div class="container applicationName">
      <div class="page-header" >
        <p class="application_title"><%= title %></p>
        <p class="proposal">Add your own books and buy another!</p>
      </div>
     
    </div>

    <% include ../partials/footer %>
    <% include ../partials/javascript %>
</body>
</html>
