<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../partials/stylesheet %>
</head>
<body class="letter_book_page">
    <% include ../partials/header %>
    <div class="container  comments_padding ">
    <div class="col-lg-6 appName">
       
                    <form action="/trade" method="post">
                        <div class="modal-header">
                            
                            <h4 class="modal-title" id="myModalLabel">Write message to buy a book!</h4>
                        </div>

                        <div class="modal-body">

                            <fieldset class="form-group">
                                <label  for="inputitle">Your name</label>
                                <textarea id="inputContent" name="sender" rows="1" cols="1" class="form-control" placeholder="" required="">From: <%= user.local.name %>, email: <%= user.local.email %></textarea>
                               
                            </fieldset>
                            <fieldset class="form-group">
                                <label  for="inputContent">Text of your message and how the trader can quickly connect  with you! Write your phone or social-media, if you like. </label>
                                <textarea id="inputContent" name="letter_text" rows="8" cols="30" class="form-control" placeholder="" required="">To bookowner - <%= recipient %></textarea>
                            </fieldset>

                        </div>
                        <div class="modal-footer">
                            
                            <button type="submit" class="btn green_button">Send</button>
                        </div>
                    </form>
            </div>            
        </div>



        <% include ../partials/footer %>
        <% include ../partials/javascript %>
    </body>
    </html>
